In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pathlib import Path

#import api_key
#from api_keys import api_keys

In [6]:
#Createing path to CSV files
Flu_path = Path("../Resources/ILINet.csv")
Temp_path = Path("../Resources/From national centers for enviromental info2016-2019.csv")

In [7]:
#Create data frame
Flu_DF = pd.read_csv(Flu_path)
Temp_DF = pd.read_csv(Temp_path)

Flu_DF.head()
Temp_DF.head()

    Southeast Climate Region  Average Temperature
0  Units: Degrees Fahrenheit                  NaN
1               Missing: -99                  NaN
2                       Date                Value
3                     201601                 43.8
4                     201602                 48.8

In [4]:
Flu_DF.head()

                                                                                                                                               PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
REGION TYPE REGION   YEAR WEEK % WEIGHTED ILI %UNWEIGHTED ILI AGE 0-4 AGE 25-49 AGE 25-64 AGE 5-24 AGE 50-64 AGE 65 ILITOTAL NUM. OF PROVIDERS                                     TOTAL PATIENTS
HHS Regions Region 4 2016 40   1.22375        1.36456         637     369       NaN       801      115       84     2006     306                                                           147007
                          41   1.23174        1.45288         714     399       NaN       769      153       96     2131     317                                                           146674
                          42   1.2768         1.51243         782     414       NaN       898      185       93     2372     323                                                           156834
                          43   1.38032        1.66763         789     532       NaN       994      198       109    2622     325                                                           157229

In [16]:
#Dropping NaN

Temp_DF = Temp_DF.dropna(subset=['Average Temperature'])

Temp_DF.head()

KeyError: ['Average Temperature']

In [ ]:
#scrubbing data
temp_df_us =  temp_df_us.loc[:,["dt","AverageTemperature","State"]]

temp_df_us.head()

In [ ]:
#Convert Celsius to  Farenheit f=(c*9/5)+32

temp_convert = temp_df_us.copy()

temp_convert['AverageTemperature'] = (temp_df_us['AverageTemperature'] * 9/5) + 32

temp_convert.head()

In [ ]:
# Define the Temperature threshold groupby
high_temp_threshold = 85
low_temp_threshold = 65

# Categorize temperatures
def categorize_temperature(temp):
    if temp > high_temp_threshold:
        return 'High Temp'
    elif temp < low_temp_threshold:
        return 'Low Temp'
    else:
        return 'Medium Temp'
    
# Apply the categorization function to createa new column
temp_convert['Temperature Category'] = temp_convert['AverageTemperature'].apply(categorize_temperature)

temp_convert.head()

In [ ]:
# convert 'dt' column to datetime type
temp_convert['dt'] = pd.to_datetime(temp_convert['dt'])

# Filter rows with dates later then 2015-12-31
filter_df = temp_convert[temp_convert['dt'] > '2015-12-31']

filter_df.head()