In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pathlib import Path

#import api_key
#from api_keys import api_keys

In [13]:
#Createing path to CSV files
Flu_path = Path("../Resources/ILINet.csv")
Temp_path = Path("../Resources/From national centers for enviromental info2016-2019.csv")

In [14]:
#Create Flu data frame
Flu_df = pd.read_csv(Flu_path)
Flu_df.head()

                                                                                                                                               PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
REGION TYPE REGION   YEAR WEEK % WEIGHTED ILI %UNWEIGHTED ILI AGE 0-4 AGE 25-49 AGE 25-64 AGE 5-24 AGE 50-64 AGE 65 ILITOTAL NUM. OF PROVIDERS                                     TOTAL PATIENTS
HHS Regions Region 4 2016 40   1.22375        1.36456         637     369       NaN       801      115       84     2006     306                                                           147007
                          41   1.23174        1.45288         714     399       NaN       769      153       96     2131     317                                                           146674
                          42   1.2768         1.51243         782     414       NaN       898      185       93     2372     323                                                           156834
                          43   1.38032        1.66763         789     532       NaN       994      198       109    2622     325                                                           157229

In [15]:
#Create Temperature data frame
Temp_df = pd.read_csv(Temp_path)
Temp_df.head()

    Southeast Climate Region  Average Temperature
0  Units: Degrees Fahrenheit                  NaN
1               Missing: -99                  NaN
2                       Date                Value
3                     201601                 43.8
4                     201602                 48.8

In [16]:
Flu_df = Flu_df.reset_index()
Flu_df.head()

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,level_10,level_11,level_12,level_13,PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
0,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
1,HHS Regions,Region 4,2016,40,1.22375,1.36456,637,369,NaN,801,115,84,2006,306,147007
2,HHS Regions,Region 4,2016,41,1.23174,1.45288,714,399,NaN,769,153,96,2131,317,146674
3,HHS Regions,Region 4,2016,42,1.2768,1.51243,782,414,NaN,898,185,93,2372,323,156834
4,HHS Regions,Region 4,2016,43,1.38032,1.66763,789,532,NaN,994,198,109,2622,325,157229

In [17]:
Flu_df.columns

Index(['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5',
       'level_6', 'level_7', 'level_8', 'level_9', 'level_10', 'level_11',
       'level_12', 'level_13',
       'PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS'],
      dtype='object')

In [18]:
Flu_df = Flu_df.rename(columns={'level_0':'Region Type','level_1':'Region','level_2':'Year','level_3':'Week','level_4':'% Weighted ILI','level_5':'% Unweighted ILI',
                                  'level_6':'Ages 0-4','level_7':'Ages 25-49','level_8':'Ages 25-64','level_9':'Ages 5-24','level_10':'Ages 50-64',
                                  'level_11':'Ages 65+','level_12':'ILI Total','level_13':'# Providers'})
Flu_df.head()

,Region Type,Region,Year,Week,% Weighted ILI,% Unweighted ILI,Ages 0-4,Ages 25-49,Ages 25-64,Ages 5-24,Ages 50-64,Ages 65+,ILI Total,# Providers,PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS
0,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
1,HHS Regions,Region 4,2016,40,1.22375,1.36456,637,369,NaN,801,115,84,2006,306,147007
2,HHS Regions,Region 4,2016,41,1.23174,1.45288,714,399,NaN,769,153,96,2131,317,146674
3,HHS Regions,Region 4,2016,42,1.2768,1.51243,782,414,NaN,898,185,93,2372,323,156834
4,HHS Regions,Region 4,2016,43,1.38032,1.66763,789,532,NaN,994,198,109,2622,325,157229

In [19]:
Flu_df.columns

Index(['Region Type', 'Region', 'Year', 'Week', '% Weighted ILI',
       '% Unweighted ILI', 'Ages 0-4', 'Ages 25-49', 'Ages 25-64', 'Ages 5-24',
       'Ages 50-64', 'Ages 65+', 'ILI Total', '# Providers',
       'PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS'],
      dtype='object')

In [20]:
Flu_df = Flu_df.drop(['Region Type','% Weighted ILI','% Unweighted ILI','Ages 25-64','# Providers',
                      'PERCENTAGE OF VISITS FOR INFLUENZA-LIKE-ILLNESS REPORTED BY SENTINEL PROVIDERS'],axis=1)

Flu_df = Flu_df.drop([0],axis=0)
Flu_df.head()

,Region,Year,Week,Ages 0-4,Ages 25-49,Ages 5-24,Ages 50-64,Ages 65+,ILI Total
1,Region 4,2016,40,637,369,801,115,84,2006
2,Region 4,2016,41,714,399,769,153,96,2131
3,Region 4,2016,42,782,414,898,185,93,2372
4,Region 4,2016,43,789,532,994,198,109,2622
5,Region 4,2016,44,928,518,1176,195,122,2939

In [21]:
Flu_df = Flu_df.reindex(columns=['Region','Year','Week','Ages 0-4','Ages 5-24','Ages 25-49','Ages 50-64','Ages 65+','ILI Total'])
Flu_df.head()

,Region,Year,Week,Ages 0-4,Ages 5-24,Ages 25-49,Ages 50-64,Ages 65+,ILI Total
1,Region 4,2016,40,637,801,369,115,84,2006
2,Region 4,2016,41,714,769,399,153,96,2131
3,Region 4,2016,42,782,898,414,185,93,2372
4,Region 4,2016,43,789,994,532,198,109,2622
5,Region 4,2016,44,928,1176,518,195,122,2939